.rvl-container {
  height: 100%;
  position: relative;
  overflow-y: scroll;
}
.rvl-placeholder {
}

.rvl-wrapper {
  position: absolute;
}

.rvl-item {
  position: absolute;
  top: 0;
  width: 100%;
}
.rvl-loading {
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  width: 100%;
  background-color: #fcfcfc;
  opacity: 0.8;
  height: 40px;
  color: #1677ff;
  font-size: 12px;
}
.rvl-loading span {
  display: inline-block;
  margin-left: 4px;
}
.rvl-no-more {
  color: #ccc;
  font-size: 12px;
  text-align: center;
  margin-top: 4px;
}
