.rvl-container {
  height: 100%;
  position: relative;
  overflow-y: scroll;
}
.rvl-placeholder {
}

.rvl-wrapper {
  position: absolute;
}

.rvl-item {
  position: absolute;
  top: 0;
  width: 100%;
}
